<% provide(:title, 'Chatrooms') %>
<header>
  <h2>Chatrooms</h2>
</header>

<div class="row col-md-8 col-md-offset-2 col-sm-9 col-sm-offset-1" id="chatrooms">
  <div id="chatroom-errors"> </div>

  <%= render partial: 'chatroom_form', locals: {chatroom: @chatroom} %>
  <hr />

  <ul id="chatroom-index">
    <% if @chatrooms.any? %>
      <h3 class="h3"> Available Chatrooms: </h3>
      <%= render @chatrooms %>
    <% else %>
  </ul>
  <p> Create the first chatroom </p>
    <% end %>

</div>
